html
    head
        title login
    body
        h1 'ohai'
        if(message)
            h4 #{message}
            form(action = "/login" method = "POST")
                input(name = "id" type = "text" required placeholder = "User Name")
                input(name = "password" type = "password" required placeholder = "Password")
                button(type = "Submit") Log in