html
    head
        title signup
    body
        h1 #{message}
        if(message)
            h4 #{message}
            form(action = "/signup" method = "POST")
                input(name = "id" type = "text" required placeholder = "User Name")
                input(name = "password" type = "password" required placeholder = "Password")
                button(type = "Submit") Sign me up!